[Desktop Entry]
Name=Google contacts 
Name[cs]=Google kontakty
Comment=Contacts plasmoid for akonadi google resources
Comment[cs]=Kontakty plasmoid pro akonadi google zdroje
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_contacts
 
X-KDE-Library=plasma_applet_google_contacts
X-KDE-PluginInfo-Name=plasma_google_contacts
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.5
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
 
