[Desktop Entry]
Name=Akonadi contacts applet
Name[da]=Akonadi kontakt-applet
Name[de]=Akonadi-Kontakt-Miniprogramm
Name[es]=Miniaplicación de contactos para Akonadi
Name[et]=Akonadi kontaktideaplett
Name[fr]=Applet de contacts pour Akonadi
Name[ga]=Feidhmchláirín teagmhálacha Akonadi
Name[gl]=Applet de contactos de Akonadi
Name[hu]=Akonadi partnerek kisalkalmazás
Name[it]=Applet dei contatti di Akonadi
Name[mr]=आकोनाडी संपर्क एप्लेट
Name[nl]=Akonadi-applet voor contactpersonen
Name[pt]='Applet' de contactos do Akonadi
Name[pt_BR]=Mini-aplicativo de contatos do Akonadi
Name[sk]=Applet kontaktov Akonadi
Name[sv]=Akonadi kontaktminiprogram
Name[tr]=Akonadi rehber uygulamacığı
Name[uk]=Аплет контактів Akonadi
Name[x-test]=xxAkonadi contacts appletxx
Comment=Contacts plasmoid for Akonadi resources
Comment[da]=Kontakt-plasmoid til Akonadi-ressourcer
Comment[de]=Kontakt-Plasmoid für Akonadi-Ressourcen
Comment[es]=Plasmoide de contactos para recursos de Akonadi
Comment[et]=Kontaktide plasmoid Akonadi ressurssidele
Comment[fr]=Composant graphique de contacts pour les ressources Akonadi
Comment[hu]=Partnerek plazmoid az Akonadi erőforrásokhoz
Comment[it]=Plasmoide dei contatti per le risorse di Akonadi
Comment[mr]=आकोनाडी संसाधनाकरिता संपर्क प्लाज्मोइड
Comment[nl]=Contactpersonen-plasmoid voor hulpbronnen in Akonadi
Comment[pt]=Um plasmóide de contactos para os recursos do Akonadi
Comment[pt_BR]=Plasmoide de contatos para os recursos do Akonadi
Comment[sk]=Plazmoid kontaktov pre zdroje Akonadi
Comment[sv]=Kontakt-plasmoid för Akonadis resurser
Comment[tr]=Akonadi kaynaklar için Kişiler plasmoidi
Comment[uk]=Плазмоїд контактів для ресурсів Akonadi
Comment[x-test]=xxContacts plasmoid for Akonadi resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=kaddressbook

X-KDE-Library=plasma_applet_akonadi_contacts
X-KDE-PluginInfo-Name=akonadi_contacts
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.7
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

