[Desktop Entry]
Name=Google contacts
Name[cs]=Kontakty Google
Name[de]=Google-Kontakte
Name[es]=Contactos de Google
Name[it]=Contatti di Google
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[sk]=Google kontakty
Name[sv]=Google-kontakter
Name[uk]=Контакти Google
Name[x-test]=xxGoogle contactsxx
Comment=Contacts plasmoid for Akonadi Google resources
Comment[es]=Plasmoide de contactos para recursos Google de Akonadi
Comment[it]=Plasmoide dei contatti per le risorse Google di Akonadi
Comment[nl]=Contactpersonen-plasmoid voor Google-hulpbronnen in Akonadi
Comment[pl]=Plazmoid kontaktów dla zasobów Google Akonadi
Comment[pt]=Um plasmóide de contactos para os recursos do Google no Akonadi
Comment[pt_BR]=Plasmoide de contatos para os recursos do Google no Akonadi
Comment[sv]=Kontakt-plasmoid för Akonadis Google-resurser
Comment[uk]=Плазмоїд контактів для ресурсів Google у Akonadi
Comment[x-test]=xxContacts plasmoid for Akonadi Google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_contacts

X-KDE-Library=plasma_applet_google_contacts
X-KDE-PluginInfo-Name=plasma_google_contacts
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.5
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

