[Desktop Entry]
Name=Google contacts
Name[cs]=Kontakty Google
Name[da]=Google-kontakter
Name[de]=Google-Kontakte
Name[es]=Contactos de Google
Name[et]=Google'i kontaktid
Name[fi]=Google-yhteystiedot
Name[fr]=Contacts Google
Name[ga]=Teagmhálacha Google
Name[it]=Contatti di Google
Name[km]=ទំនាក់ទំនង​របស់ហ្គូហ្គល
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[sk]=Google kontakty
Name[sv]=Google-kontakter
Name[uk]=Контакти Google
Name[x-test]=xxGoogle contactsxx
Comment=Contacts plasmoid for Akonadi Google resources
Comment[da]=Kontakt-plasmoid til Akonadi Google-ressourcer
Comment[es]=Plasmoide de contactos para recursos Google de Akonadi
Comment[et]=Kontaktide plasmoid Akonadi Google'i ressurssidele
Comment[fr]=Composant graphique de contacts pour les ressources Google Akonadi
Comment[it]=Plasmoide dei contatti per le risorse Google di Akonadi
Comment[km]=ទំនាក់ទំនង plasmoid សម្រាប់​ធនធាន​ហ្គូហ្គល Akonadi
Comment[nl]=Contactpersonen-plasmoid voor Google-hulpbronnen in Akonadi
Comment[pl]=Plazmoid kontaktów dla zasobów Google Akonadi
Comment[pt]=Um plasmóide de contactos para os recursos do Google no Akonadi
Comment[pt_BR]=Plasmoide de contatos para os recursos do Google no Akonadi
Comment[sv]=Kontakt-plasmoid för Akonadis Google-resurser
Comment[uk]=Плазмоїд контактів для ресурсів Google у Akonadi
Comment[x-test]=xxContacts plasmoid for Akonadi Google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_contacts

X-KDE-Library=plasma_applet_google_contacts
X-KDE-PluginInfo-Name=plasma_google_contacts
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.7
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

