[Desktop Entry]
Name=Google tasks
Name[da]=Google-opgaver
Name[de]=Google-Aufgaben
Name[es]=Tareas de Google
Name[fr]=Tâches Google
Name[it]=Attività di Google
Name[nl]=Google-taken
Name[pl]=Zadania Google
Name[pt]=Tarefas do Google
Name[pt_BR]=Google Tasks
Name[sk]=Google úlohy
Name[sv]=Google-uppgifter
Name[uk]=Завдання Google
Name[x-test]=xxGoogle tasksxx
Comment=Tasks plasmoid for Akonadi Google resources
Comment[da]=Opgave-plasmoid til Akonadi Google-ressourcer
Comment[es]=Plasmoide de tareas para recursos Google de Akonadi
Comment[fr]=Composant graphique de tâches pour les ressources Google
Comment[it]=Plasmoide delle attività per le risorse Google di Akonadi
Comment[nl]=Taken-plasmoid voor Google-hulpbronnen in Akonadi
Comment[pl]=Plazmoid zadań dla zasobów Google Akonadi
Comment[pt]=Um plasmóide de tarefas para os recursos do Google no Akonadi
Comment[pt_BR]=Plasmoide de tarefas para os recursos do Google no Akonadi
Comment[sv]=Uppgifts-plasmoid för Akonadis Google-resurser
Comment[uk]=Плазмоїд завдань для ресурсів Google у Akonadi
Comment[x-test]=xxTasks plasmoid for Akonadi Google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_tasks

X-KDE-Library=plasma_applet_google_tasks
X-KDE-PluginInfo-Name=plasma_google_tasks
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

