[Desktop Entry]
Name=Google tasks
Name[it]=Attività di Google
Name[nl]=Google-taken
Name[pt]=Tarefas do Google
Name[pt_BR]=Google Tasks
Name[sk]=Google úlohy
Name[sv]=Google-uppgifter
Name[uk]=Завдання Google
Name[x-test]=xxGoogle tasksxx
Comment=Tasks plasmoid for Akonadi Google resources
Comment[pt]=Um plasmóide de tarefas para os recursos do Google no Akonadi
Comment[pt_BR]=Plasmoide de tarefas para os recursos do Google no Akonadi
Comment[uk]=Плазмоїд завдань для ресурсів Google у Akonadi
Comment[x-test]=xxTasks plasmoid for Akonadi Google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_tasks

X-KDE-Library=plasma_applet_google_tasks
X-KDE-PluginInfo-Name=plasma_google_tasks
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

