[Desktop Entry]
Name=Contacts plasmoid
Comment=Contacts plasmoid for akonadi google resources
Type=Service
ServiceTypes=Plasma/Applet
 
X-KDE-Library=plasma_applet_google_contacts
X-KDE-PluginInfo-Name=plasma_google_contacts
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
 
