[Desktop Entry]
Name=Akonadi calendar applet
Name[bs]=Akonadi kalendarski programčić
Name[ca]=Miniaplicació de calendari de l'Akonadi
Name[da]=Akonadi kalender-applet
Name[de]=Akonadi-Kalender-Miniprogramm
Name[es]=Miniaplicación de calendario para Akonadi
Name[fr]=Applet d'agenda pour Akonadi
Name[ga]=Feidhmchláirín féilire Akonadi
Name[hu]=Akonadi naptár kisalkalmazás
Name[it]=Applet del calendario di Akonadi
Name[lt]=Akonadi kalendoriaus programėlė
Name[mr]=आकोनाडी दिनदर्शिका एप्लेट
Name[nl]=Akonadi-applet voor agenda
Name[pl]=Aplet kalendarza Akonadi
Name[pt]='Applet' de calendários do Akonadi
Name[pt_BR]=Mini-aplicativo de calendário do Akonadi
Name[sk]=Applet kalendára Akonadi
Name[sv]=Akonadi kalenderminiprogram
Name[tr]=Akonadi takvim uygulaması
Name[uk]=Аплет календаря Akonadi
Name[x-test]=xxAkonadi calendar appletxx
Comment=Calendar plasmoid for Akonadi resources
Comment[bs]=Kalendarski plasmoid za Akonadi resurse
Comment[ca]=Plasmoide de calendari per als recursos de l'Akonadi
Comment[da]=Kalender-plasmoid til Akonadi-ressourcer
Comment[de]=Kalender-Plasmoid für Akonadi-Ressourcen
Comment[es]=Plasmoide de calendario para recursos de Akonadi
Comment[fr]=Composant graphique d'agenda pour les ressources Akonadi
Comment[gl]=Plasmoide de calendario para recursos de Akonadi
Comment[hu]=Naptár plazmoid az Akonadi erőforrásokhoz
Comment[it]=Plasmoide del calendario per le risorse di Akonadi
Comment[lt]=Kalendoriaus plazmoidas Akonadi ištekliams
Comment[mr]=आकोनाडी संसाधनाकरिता दिनदर्शिका प्लाज्मोइड
Comment[nl]=Agenda-plasmoid voor hulpbronnen in Akonadi
Comment[pl]=Plazmoid kalendarza dla zasobów Akonadi
Comment[pt]=Um plasmóide de calendários para os recursos do Akonadi
Comment[pt_BR]=Um plasmoide de calendário para os recursos do Akonadi
Comment[sk]=Plazmoid kalendára pre zdroje Akonadi
Comment[sv]=Kalender-plasmoid för Akonadis resurser
Comment[tr]=Akonadi kaynakları için Takvim plasmoidi
Comment[uk]=Плазмоїд календаря для ресурсів Akonadi
Comment[x-test]=xxCalendar plasmoid for Akonadi resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=korganizer

X-KDE-Library=plasma_applet_akonadi_calendars
X-KDE-PluginInfo-Name=akonadi_calendars
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Version=0.2.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
