[Desktop Entry]
Name=Calendar plasmoid
Name[de]=Kalender-Plasmoid
Name[es]=Plasmoide de calendario
Name[fr]=Composant graphique de calendrier
Name[it]=Plasmoide del calendario
Name[nds]=Plasma-Lüttprogramm
Name[nl]=Agenda-plasmoid
Name[pl]=Plazmoid kalendarza
Name[pt]=Plasmóide de calendário
Name[pt_BR]=Plasmoide de calendário
Name[sk]=Plazmoid kalendára
Name[sv]=Kalender-plasmoid
Name[uk]=Плазмоїд календаря
Name[x-test]=xxCalendar plasmoidxx
Comment=Calendar plasmoid for Akonadi Google resources
Comment[es]=Plasmoide de calendario para recursos Google de Akonadi
Comment[fr]=Composant graphique de calendrier pour les ressources Google Akonadi
Comment[it]=Plasmoide del calendario per le risorse Google di Akonadi
Comment[nl]=Agenda-plasmoid voor Google-hulpbronnen in Akonadi
Comment[pl]=Plazmoid kalendarza dla zasobów Google Akonadi
Comment[pt]=Um plasmóide de calendário para os recursos do Google no Akonadi
Comment[pt_BR]=Um plasmoide de calendário para os recursos do Google no Akonadi
Comment[sv]=Kalender-plasmoid för Akonadis Google-resurser
Comment[uk]=Плазмоїд календаря для ресурсів Google у Akonadi
Comment[x-test]=xxCalendar plasmoid for Akonadi Google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=plasma_google_calendar

X-KDE-Library=plasma_applet_google_calendar
X-KDE-PluginInfo-Name=plasma_google_calendar
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
