[Desktop Entry]
Name=Calendar plasmoid
Name[pt]=Plasmóide de calendário
Name[pt_BR]=Plasmoide de calendário
Name[sk]=Plazmoid kalendára
Name[sv]=Kalender-plasmoid
Name[uk]=Плазмоїд календаря
Name[x-test]=xxCalendar plasmoidxx
Comment=Calendar plasmoid for akonadi google resources
Comment[pt]=Um plasmóide de calendário para os recursos do Google no Akonadi
Comment[pt_BR]=Um plasmoide de calendário para os recursos do Google no Akonadi
Comment[sk]=Plazmoid kalendára pre zdroje akonadi google
Comment[sv]=Kalender-plasmoid för Akonadis Google-resurser
Comment[uk]=Плазмоїд календаря для ресурсів Google у akonadi
Comment[x-test]=xxCalendar plasmoid for akonadi google resourcesxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Name=plasma_calendar
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://phoenix.inf.upol.cz/~grulichj
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
