[Desktop Entry]
Name=Akonadi calendar applet
Name[da]=Akonadi kalender-applet
Name[es]=Miniaplicación de calendario para Akonadi
Name[et]=Akonadi kalendriaplett
Name[fr]=Applet d'agenda pour Akonadi
Name[hu]=Akonadi naptár kisalkalmazás
Name[it]=Applet del calendario di Akonadi
Name[nl]=Akonadi-applet voor agenda
Name[pt]='Applet' de calendários do Akonadi
Name[pt_BR]=Mini-aplicativo de calendário do Akonadi
Name[sk]=Applet kalendára Akonadi
Name[sv]=Akonadi kalenderminiprogram
Name[uk]=Аплет календаря Akonadi
Name[x-test]=xxAkonadi calendar appletxx
Comment=Calendar plasmoid for Akonadi resources
Comment[da]=Kalender-plasmoid til Akonadi-ressourcer
Comment[es]=Plasmoide de calendario para recursos de Akonadi
Comment[et]=Kalendri plasmoid Akonadi ressurssidele
Comment[fr]=Composant graphique d'agenda pour les ressources Akonadi
Comment[hu]=Naptár plazmoid az Akonadi erőforrásokhoz
Comment[it]=Plasmoide del calendario per le risorse di Akonadi
Comment[nl]=Agenda-plasmoid voor hulpbronnen in Akonadi
Comment[pt]=Um plasmóide de calendários para os recursos do Akonadi
Comment[pt_BR]=Um plasmoide de calendário para os recursos do Akonadi
Comment[sv]=Kalender-plasmoid för Akonadis resurser
Comment[uk]=Плазмоїд календаря для ресурсів Akonadi
Comment[x-test]=xxCalendar plasmoid for Akonadi resourcesxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=korganizer

X-KDE-Library=plasma_applet_akonadi_calendars
X-KDE-PluginInfo-Name=akonadi_calendars
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=grulja@gmail.com
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
